Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  misc-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-owning-memory,
  -clang-analyzer-alpha.*

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
